/*body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
    background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}*/

body {
    background-color: #13cccc;
}
/*#20c997*/
.panel p {
    color: #0c5460;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
h1{
    font-family: "Courier New";
}
.main-div {
    background: #139999;
    border-radius: 12px;
    margin: 100px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}


.login-form .btn.btn-primary {
    background: #0c5460 none repeat scroll 0 0;
    border-color: black;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin-top: 30px;
}

.botto-text {
    color: #ffffff;
    font-size: 14px;
    margin: auto;
}

.login-form .btn.btn-primary.reset {
    background: #ff9900 none repeat scroll 0 0;
}

.back {
    text-align: left;
    margin-top: 10px;
}

.back a {
    color: #444444;
    font-size: 13px;
    text-decoration: none;
}

p#crfooter{
    color: #0c5460;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
}